VITE_NETWORK=testnet
VITE_CREDENTIAL_ISSUER_CONTRACT=ST26P4PWK2WB16VNPN8YJZY7HJY21A3Z124RX85JE.credential-issuer-v7
VITE_IDENTITY_REGISTRY_CONTRACT=ST26P4PWK2WB16VNPN8YJZY7HJY21A3Z124RX85JE.identity-registry
VITE_VERIFICATION_CONTRACT=ST26P4PWK2WB16VNPN8YJZY7HJY21A3Z124RX85JE.verification
